@model IEnumerable<OefenenMVC.Models.Event>

@{
    ViewData["Title"] = "Evenementenlijst";
}

<h1>Evenementenlijst</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Date)</th>
            <th>@Html.DisplayNameFor(model => model.First().Location)</th>
            <th>@Html.DisplayNameFor(model => model.First().Cost)</th>
            <th>@Html.DisplayNameFor(model => model.First().MaxParticipants)</th>
            <th>@Html.DisplayNameFor(model => model.First().SoldTickets)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Cost)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxParticipants)</td>
                <td>@Html.DisplayFor(modelItem => item.SoldTickets)</td>
                <td>
                    <a href="@Url.Action("Details", "Events", new { id = item.EventID })">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
